:root {
    --bright-pink: #BB1585;
    --bright-orange: #F78065;
    --bright-blue: #2BBCC3;
    --salmon: #fdcacb;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 500px;
}

header {
    font-family: "Forum", serif;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 2em;
    background-color: var(--bright-pink);
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-family: "Forum", serif;
    font-size: 20px;
}

p.thankyou {
    padding: 2rem
}

p.submissions {
    margin-top: 2rem;
    background-color: var(--bright-orange);
    padding: 1rem;
    color: #fff;
}