@media screen and (min-width: 550px) {

    form.form {
        max-width: 500px;
        margin: 0 auto;
    }

    .days {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        font-size: 2rem;
    }
}