:root {
    --dark-color-blue: #1e686d;
    --dark-color-green: #657F00;
    --light-color-blue: #f2fbfb;
    --light-color-green: #f3f5ea;
    --font-color: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, button {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-color-blue);
}

h1 {
    font-weight: 550;
}

h2 {
    font-family: "Ms Madi", cursive;
    font-weight: 550;
    font-style: normal;
    font-size: 2rem;
    color: var(--dark-color-green);
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section {
    padding: 2rem;
}

header, main {
    margin: 0 auto;
}

/**********About Us Containter**************/

.about-us {
    background-color: var(--dark-color-blue);
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
}

.about-us h1 {
    color: #fff;
}

img, button {
    display: block;
    margin: 0 auto;
}

h1, h2, h3, p, button {
    text-align: center;
}

button {
    margin-top: 2rem;
}

p {
    margin-right: 2rem;
    margin-left: 2rem;
}

.doctor-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-bottom: solid 1px #ccc;
}

.doctor-container button {
    margin-bottom: 5rem;
}

.staff-title {
    padding: 2rem;
}

.fo {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.fo1, .rda1, .rdh1 {
    margin-bottom: 3rem;
}



/*************FOOTERS SECTION************/
footer {
    padding: 2rem;
    padding-top: 4rem;
    background-color: var(--light-color-green);
    text-align: center;
}

footer h1 {
    font-size: 1.5rem;
}

footer h2 {
    font-size: 2rem;
}

footer h3 {
    font-size: 1.5rem;
}

.location {
    margin-top: 2rem;
}

.socialmedia {
    margin-top: 2rem;
}

img.fb:hover, img.ig:hover, img.yt:hover {
    transform: scale(1.2); /* Scale the image to 120% of its size on hover */
}

