:root {
    --dark-color-blue: #2FA0A8;
    --dark-color-green: #657F00;
    --light-color-blue: #AFEDD6;
    --light-color-green: #B4CE00;
    --font-color: #000;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
}

main {
    margin-top: 2rem;
}

h1, h3 {
    font-family: "Forum", serif;
    color: var(--dark-color-blue);
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: "Ms Madi", cursive;
    color: var(--dark-color-green);
    font-size: 35px;
}

p {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
}

p.question {
    text-transform: uppercase;
    color: var(--dark-color-blue);
}

section {
    padding: 1rem;
}

section.name {
    margin-top: 1rem;
}

.wireframe {
    display: grid;
    margin-top: 1rem;
    justify-content: start;
    column-gap: 1rem;
}

img#main {
    grid-column: 1 / 2;
}

img#mobile {
    grid-column: 2 / 3;
}