@media screen and (min-width: 600px) {

    /* body {
        max-width: 1400px;
        margin: auto;
    }     */

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        padding: 20px;
        grid-row-gap: 0px;
    }

    h1 {
        margin-left: 1rem;
        text-align: left;
        grid-area: 1/1/2/2;
        font-size: 2rem;
    }

    h2 {
        text-align: left;
        margin-left: 2rem;
    }

    button#menu {
		display: none; /* hide hamburger button */
	}

   .temple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

	.navigation a {
		display: block;
		flex: 1 1 100%;
	} 
 
}