@media screen and (min-width: 500px) {
    :root {
        --border: 1px solid rgba(0,0,0,.1);
    }

    header {
        background-color: #c72e2a;
        color: var(--font-color-light);
        padding: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    .card {
        border: var(--border);
        box-shadow: 0 0 2rem #000;
        opacity: .8;
        padding: 10px 20px 0px 10px;
    }

    .card h2 {
        font-size: 2rem;
        text-align: left;
        margin-left: -25px;
        color: var(--font-color-light)
    }

    .label {
        font-size: 1.25rem;
    }

    .value {
        font-size: 1.25rem;
    }
    
    .card.data{
        margin-left: 20px;
    }

    .card.weather {
        margin-right: 20px;
    }

    .data {
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1rem;
    }

    .weather h2::after {
        content: '🌦';
        position: absolute;
        right: 2.5rem;
        top: 1.75rem;
        color: #fff;
    }

    #weather-icon {
        display: none;
    }
    
}