@media screen and (min-width: 600px) {

    header {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        padding: 20px;
        grid-row-gap: 0px;
    }

    h1 {
        margin-left: 0;
        text-align: center;
        grid-area: 1/1/2/2;
    }

    h2 {
        text-align: left;
        margin: 1rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

	.navigation a {
		display: block;
		flex: 1 1 100%;
	} */
  
    #menu {
		display: none; /* hide hamburger button */
	}

    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}